#header
{
  
  text-align: center;
  letter-spacing: 0.1rem;
  font-family: serif;
  font-style: oblique;
  margin-top: 30px;
  font-size: 50px;
}

#ele {
    text-align: center;
    letter-spacing:0.05em;
    font-family: serif;
    font-style: oblique; 
}    

#tama{
    padding: 25px;
    font-weight: lighter;
}
#tamab
{
    color: white;
    padding: 25px;
    font-weight:lighter;
}
  
#tamab:hover
{
    color:#A4B0BD;
    font-weight:lighter;

}
#tamac
{
    color: white;
    padding: 25px;
    font-weight:lighter;
}
  
#tamac:hover
{
    color:#A4B0BD;
    font-weight:lighter;
}
#tamad
{
    color: white;
    padding: 25px;
    font-weight:lighter;
}
  
#tamad:hover
{
    color:#A4B0BD;
}
#tamae
{
    color: white;
    padding: 25px;
    font-weight:lighter;
}
  
#tamae:hover
{
    color:#A4B0BD;
    font-weight:lighter;
}
#tamaf
{
    color: white;
    padding: 25px;
    font-weight:lighter;
}
  
#tamaf:hover
{
    color:#A4B0BD;
    font-weight:lighter;
}
#tamag
{
    color: white;
    padding: 25px;
    font-weight:lighter;
}
  
#tamag:hover
{
    color:#A4B0BD;
    font-weight:lighter;

}
#but{
    margin-left: 20px;
    width: 150px;
    height: 40px;
    font-weight:lighter;
    font-size: 13px;
}
#co,#date,#adults,#kids,#submit{
    font-weight: lighter;
}
#submit{
    font-size: 13px;
    height: 40px;
   
}
#pc{
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#c1{
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
}

#o1{
    font-weight: lighter;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#c2{

    font-weight: lighter;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#ba{
    font-size: 10px;
}

#ol{
    margin-bottom: 0px;
}





